In [1]:
import pandas as pd
import random

In [2]:
tvColumList = ["Year", "Equity", "Profit", "ROE"]


tvRoeReturn    = 10   # ROE value which would be constant over the time
tvIntialEquity = 10   # initial captial(equity)
tvNumberOfYear = 16   # let's us calculate it for 15 year

tvYearList   = []
tvEquityList = []
tvProfitList = []
tvRoeList    = []

tvYearList.append(0)
tvEquityList.append(tvIntialEquity)
tvProfitList.append(tvIntialEquity*tvRoeReturn/100)
tvRoeList.append(tvRoeReturn)

# To make it more realistic to the real world companies, which could earn
# higher ROE in the good time and medicore ROE in bad time of business, let
# us use the random number generator instead of constant number.
for i in range(1,tvNumberOfYear):
    n = random.randint(10,20)
    tvRoeList.append(n)

In [3]:
for index in range(1, tvNumberOfYear):
    tvYearList.append(index)
    tvTotalCurrentYearEquity = tvEquityList[index -1] + tvProfitList[index - 1]
    tvEquityList.append(tvTotalCurrentYearEquity)
    tvRoeReturn = tvRoeList[index]
    tvProfitList.append(tvTotalCurrentYearEquity*tvRoeReturn/100)

    

tvEquityList = [round(item,1) for item in tvEquityList]
tvProfitList = [round(item,1) for item in tvProfitList]


inputDic = {tvColumList[0]:tvYearList,\
            tvColumList[1]:tvEquityList,\
            tvColumList[2]:tvProfitList,\
            tvColumList[3]:tvRoeList
            }

df = pd.DataFrame(inputDic, columns=tvColumList)
df = df.reset_index(drop=True)
df = df.set_index(tvColumList[0])

In [4]:
# let us see the content of the dataframe at this point of time.
df.head(30)

      Equity  Profit  ROE
Year
0       10.0     1.0   10
1       11.0     1.9   17
2       12.9     1.7   13
3       14.5     2.8   19
4       17.3     3.3   19
5       20.6     3.5   17
6       24.1     2.7   11
7       26.7     5.3   20
8       32.1     3.9   12
9       35.9     5.8   16
10      41.7     7.1   17
11      48.8     7.8   16
12      56.6    10.2   18
13      66.8    12.7   19
14      79.5     7.9   10
15      87.4    16.6   19

In [5]:
# Now lets us calculate the series of values of P/E when MCap is equal
# to the underlying business value of the company.
tvMCapValueList  =  []
tvPEValueList    =  []


for index in range(0, tvNumberOfYear):
    tvMCap = 1*tvEquityList[index]
    tvMCap = round(tvMCap,1)
    tvMCapValueList.append(tvMCap)
    tvProfit = tvProfitList[index]
    tvPE = tvMCap/tvProfit
    tvPE = round(tvPE,1)
    tvPEValueList.append(tvPE)

In [6]:
# Now lets us create a new dataframe with all five member together.
tvFinalColumList = ["MCap=Value", "P/E","Year", "Equity", "Profit", "ROE"]

inputDic = {tvFinalColumList[0]:tvMCapValueList,\
            tvFinalColumList[1]:tvPEValueList,\
            tvFinalColumList[2]:tvYearList,\
            tvFinalColumList[3]:tvEquityList,\
            tvFinalColumList[4]:tvProfitList,\
            tvFinalColumList[5]:tvRoeList
            }

dfFinal = pd.DataFrame(inputDic, columns=tvFinalColumList)
dfFinal = dfFinal.reset_index(drop=True)
dfFinal = dfFinal.set_index(tvColumList[0])

In [7]:
# let us see the content of the dataframe at this point of time.
dfFinal.head(30)

      MCap=Value   P/E  Equity  Profit  ROE
Year
0           10.0  10.0    10.0     1.0   10
1           11.0   5.8    11.0     1.9   17
2           12.9   7.6    12.9     1.7   13
3           14.5   5.2    14.5     2.8   19
4           17.3   5.2    17.3     3.3   19
5           20.6   5.9    20.6     3.5   17
6           24.1   8.9    24.1     2.7   11
7           26.7   5.0    26.7     5.3   20
8           32.1   8.2    32.1     3.9   12
9           35.9   6.2    35.9     5.8   16
10          41.7   5.9    41.7     7.1   17
11          48.8   6.3    48.8     7.8   16
12          56.6   5.5    56.6    10.2   18
13          66.8   5.3    66.8    12.7   19
14          79.5  10.1    79.5     7.9   10
15          87.4   5.3    87.4    16.6   19

In [8]:
# Now lets us calculate the series of values of P/E when MCap is equal
# to the 50% discount of underlying business value of the company.
tvMCapValueList  =  []
tvPEValueList    =  []


for index in range(0, tvNumberOfYear):
    tvMCap = 0.5*tvEquityList[index]
    tvMCap = round(tvMCap,1)
    tvMCapValueList.append(tvMCap)
    tvProfit = tvProfitList[index]
    tvPE = tvMCap/tvProfit
    tvPE = round(tvPE,1)
    tvPEValueList.append(tvPE)

In [9]:
# Now lets us create a new dataframe with all five member together.
tvFinalColumList = ["MCap=0.5Value", "P/E","Year", "Equity", "Profit", "ROE"]

inputDic = {tvFinalColumList[0]:tvMCapValueList,\
            tvFinalColumList[1]:tvPEValueList,\
            tvFinalColumList[2]:tvYearList,\
            tvFinalColumList[3]:tvEquityList,\
            tvFinalColumList[4]:tvProfitList,\
            tvFinalColumList[5]:tvRoeList
            }

dfFinal = pd.DataFrame(inputDic, columns=tvFinalColumList)
dfFinal = dfFinal.reset_index(drop=True)
dfFinal = dfFinal.set_index(tvColumList[0])

In [10]:
# let us see the content of the dataframe at this point of time.
dfFinal.head(30)

      MCap=0.5Value  P/E  Equity  Profit  ROE
Year
0               5.0  5.0    10.0     1.0   10
1               5.5  2.9    11.0     1.9   17
2               6.5  3.8    12.9     1.7   13
3               7.2  2.6    14.5     2.8   19
4               8.7  2.6    17.3     3.3   19
5              10.3  2.9    20.6     3.5   17
6              12.1  4.5    24.1     2.7   11
7              13.3  2.5    26.7     5.3   20
8              16.1  4.1    32.1     3.9   12
9              17.9  3.1    35.9     5.8   16
10             20.9  2.9    41.7     7.1   17
11             24.4  3.1    48.8     7.8   16
12             28.3  2.8    56.6    10.2   18
13             33.4  2.6    66.8    12.7   19
14             39.8  5.0    79.5     7.9   10
15             43.7  2.6    87.4    16.6   19

In [11]:
# Now lets us calculate the series of values of P/E when MCap is equal
# to the twice of underlying business value of the company.
tvMCapValueList  =  []
tvPEValueList    =  []


for index in range(0, tvNumberOfYear):
    tvMCap = 2.0*tvEquityList[index]
    tvMCap = round(tvMCap,1)
    tvMCapValueList.append(tvMCap)
    tvProfit = tvProfitList[index]
    tvPE = tvMCap/tvProfit
    tvPE = round(tvPE,1)
    tvPEValueList.append(tvPE)

In [12]:
# Now lets us create a new dataframe with all five member together.
tvFinalColumList = ["MCap=2*Value", "P/E","Year", "Equity", "Profit", "ROE"]

inputDic = {tvFinalColumList[0]:tvMCapValueList,\
            tvFinalColumList[1]:tvPEValueList,\
            tvFinalColumList[2]:tvYearList,\
            tvFinalColumList[3]:tvEquityList,\
            tvFinalColumList[4]:tvProfitList,\
            tvFinalColumList[5]:tvRoeList
            }

dfFinal = pd.DataFrame(inputDic, columns=tvFinalColumList)
dfFinal = dfFinal.reset_index(drop=True)
dfFinal = dfFinal.set_index(tvColumList[0])

In [15]:
# let us see the content of the dataframe at this point of time.
dfFinal.head(30)

      MCap=2*Value   P/E  Equity  Profit  ROE
Year
0             20.0  20.0    10.0     1.0   10
1             22.0  11.6    11.0     1.9   17
2             25.8  15.2    12.9     1.7   13
3             29.0  10.4    14.5     2.8   19
4             34.6  10.5    17.3     3.3   19
5             41.2  11.8    20.6     3.5   17
6             48.2  17.9    24.1     2.7   11
7             53.4  10.1    26.7     5.3   20
8             64.2  16.5    32.1     3.9   12
9             71.8  12.4    35.9     5.8   16
10            83.4  11.7    41.7     7.1   17
11            97.6  12.5    48.8     7.8   16
12           113.2  11.1    56.6    10.2   18
13           133.6  10.5    66.8    12.7   19
14           159.0  20.1    79.5     7.9   10
15           174.8  10.5    87.4    16.6   19